---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Events from '../components/Events.astro';
import Articles from '../components/Articles.astro';
import AboutUs from '../components/AboutUs.astro';
import Products from '../components/Products.astro';
import Gallery from '../components/Gallery.astro';
---

<Layout title="آکادمی آموزشی نخبگان - صفحه اصلی">
  <main>
    <Hero />
    <Events />
    <Articles />
    <AboutUs />
    <Products />
    <Gallery />
  </main>
</Layout>